services:
  nginx:
    container_name: api-futbol-nginx
    image: nginx:stable-alpine
    ports:
      - '8000:80'
    volumes:
      - ./:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - api-futbol-network

  php:
    container_name: api-futbol-php
    build:
      context: ./docker
    volumes:
      - ./:/var/www
    networks:
      - api-futbol-network

  db:
    container_name: mariadb_api_futbol
    image: mariadb:latest
    ports:
      - "33006:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 'passwd'
      MYSQL_DATABASE: 'api_futbol'
      MYSQL_USER: 'api_futbol'
      MYSQL_PASSWORD: 'api_futbol'
      TZ: Europe/Madrid
    volumes:
      - mariadb-api-futbol-volume:/var/lib/mysql
    networks:
      - api-futbol-network

volumes:
  mariadb-api-futbol-volume:

networks:
  api-futbol-network: