{% extends 'base.html.twig' %}

{% block title %}API Fútbol | Administración{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ui') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ui') }}
{% endblock %}

{% block body %}
<nav id="menu">
    <a class="opcion-menu"><i class="fa-solid fa-users"></i></a>
    <a class="opcion-menu"><i class="fa-solid fa-futbol"></i></a>
</nav>
{% endblock %}
