body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenido {
    background: white;
    padding: 1rem;
    margin-top: 0;
    width: 80%;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 /.15);
}
@media (min-width: 600px) {
    .contenido {
        padding: 2rem;
        margin-top: 15rem;
        width: 450px;
    }
}
.login-form {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.login-form > h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: rgb( var(--color-oscuro) );
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}