body {
    align-content: center;
    height: 100vh;
}
.contenido {
    background: white;
    padding: 3rem min(10%, 45px);
    width: clamp(350px, 35%, 500px);
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 /.15);
    margin-inline: auto;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.login-form > h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: rgb( var(--color-verde-oscuro) );
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
}
.remember-me {
    display: flex;
    margin-top: 1rem;
    padding-left: 0.5rem;
}
