body {
    align-content: center;
    height: 100vh;
}
.contenido {
    background: white;
    padding: 3rem min(10%, 45px);
    width: clamp(350px, 35%, 500px);
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 /.15);
    margin-inline: auto;
}

h2 {
    color: rgb(var(--color-verde-oscuro));
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
}