<div class="aplicacion sombra" data-aplicacion="{{ aplicacion.id }}">
    <div class="aplicacion-info">
        <div class="aplicacion-nombre">{{ aplicacion.nombre }}</div>
        <div class="aplicacion-fecha">[{{ aplicacion.fechaCreacion|date("d/m/Y H:i:s") }}]</div>
    </div>
    <div class="aplicacion-acciones">
        <span class="boton boton-primary btn__aplicacion-token" data-accion="app-token">Genera token</span>
        <span class="boton boton-azul btn__aplicacion-cambiar-nombre" data-accion="app-cambiar-nombre"><i class="bi bi-pencil"></i></span>
        <span class="boton boton-warning btn__aplicacion-eliminar" data-accion="app-eliminar"><i class="bi bi-trash3-fill"></i></span>
    </div>
    <div class="aplicacion-token oculto">
        <div class="aplicacion-token-cabecera">
            <div>token</div>
            <div class="aplicacion-copiar-token" data-accion="app-token-copiar"><i class="bi bi-trash"></i></i><span class="texto">copiar</span>
            </div>
        </div>
        <div class="aplicacion-token-contenido">
            <div class="div__token"></div>
        </div>
        <div class="error oculto"></div>
    </div>
</div>