{% extends 'admin/index.html.twig' %}

{% block javascripts %}
    {{ importmap(['app', 'usuarios']) }}
{% endblock %}

{% block contenido %}
    <h2>Aplicaciones</h2>

    <div class="mt-2">
        <span class="boton boton-primary" data-toggle="div__nueva-aplicacion">Nueva aplicación</span>
    </div>

    <div id="div__nueva-aplicacion" class="div__nueva-aplicacion oculto">
        <div class="form-nueva-aplicacion">
            <div>Nombre:</div>
            <div class="div__nombre-aplicacion">
                <input type="text" id="input__nombre-aplicacion" name="nombre-aplicacion">
            </div>
            <div><span id="btn__guardar-aplicacion" class="boton boton-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</span>
            </div>
        </div>
        <div class="error oculto"></div>
    </div>

    <div class="aplicaciones mt-3">
        {% for aplicacion in aplicaciones %}
            {{ include('user/aplicacion.html.twig', {'aplicacion': aplicacion}) }}
        {% else %}
            <h4 class="sin-aplicaciones">No hay ninguna aplicación configurada</h4>
        {% endfor %}
    </div>
{% endblock %}
